// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #191919;
}

.status_active {
  color: green;
}

.status_off {
  color: red;
}

.mid-margin-bottom {
  margin-bottom: 30px;
}
